Repository HYF-Class23/group2-hyf-rebuild, pull requests merged in 2024-02, with the labels that each got.

#4 constraints
  .cspell.json
  planning/constraints.md
Labels: constraints

#6 Add development strategy
  planning/development-strategy.md
Labels: development strategy

#2 design of hyf rebuild
  pages/Design copy.png
  planning/design.md
  planning/img/Design.png
Labels: design

#8 backlog
  planning/backlog.md
Labels: backlog

#18 Statistics Html and Css added
  pages/statistics.css
  pages/statistics.html
Labels: HTML, CSS

#21 Add communication
  planning/communication.md
Labels: communication

#23 Newsletter
  .cspell.json
  pages/another-page.html
  pages/newsletter.css
  pages/newsletter.html
Labels: HTML, CSS

#32 Read me
  README.md
  index.html
  planning/img/screenshot.jpg
  planning/screenshot.jpg
  styles/something.css
Labels: documentation
